/* You can add global styles to this file, and also import other style files */
body{
  background: linear-gradient(#121212, #212b46);
  overflow-y: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
